<turbo-frame id="<%= dom_id comment %>_frame"
              data-controller="turbo-frame"
              data-turbo-frame-preserve-height-value=true
              data-turbo-frame-target='spinner'
>
  <div id="<%= dom_id comment %>" class="card rounded-5 overflow-hidden comment-block border-0">
    <div class="card-header d-flex py-0 border-0 bg-white">
      <div class="col-10 d-flex align-items-center text-truncate">
        <div class="comment-avatar me-2">
          <%= avatar comment.user, class_name: 'img-xs rounded-circle' %>
        </div>
        <div class="fw-semibold text-truncate">
          <%= link_to nickname(comment.user), comment.user,
            class: "nav-link text-truncate",
            title: nickname(comment.user),
            data: { turbo_frame: "_top" }
          %>
        </div>
        <span class="text-secondary mx-2">
          •
        </span>
        <small class="text-body-secondary">
          <%= time_ago_in_words comment.created_at %> ago
        </small>
        <% if modified?(comment) %>
          <sup class="text-body-tertiary opacity-50 ms-2 top-0">edited</sup>
        <% end %>
      </div>
      <div class="col-2 text-end">
        <% if comment.user == current_user %>
          <div class="comment-controls">
            <div class="d-inline me-2">
              <%= link_to edit_comment_path(comment),
                class: "nav-link edit-comment d-inline",
                data: {
                    turbo_frame: "#{dom_id comment}_frame"
                } do
              %>
                <i class="bi bi-pen"></i>
              <% end %>
            </div>
            <%= link_to comment_path(comment),
              class: "nav-link d-inline",
              data: {
                turbo_method: :delete,
                turbo_frame: "_top",
                action: "click->turbo-frame#replaceBySpinner"
              } do
            %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body py-2 position-relative"
         data-controller='read-more' data-read-more-max-height-value=200>
      <div class="comment-body" data-read-more-target="textToHide">
        <%= simple_format(comment.body) %>
      </div>
      <div class="position-relative" data-read-more-target="showMoreButton" hidden>
        <div class="comment-show-more-fade position-absolute w-100 bottom-100"></div>
        <button class="show-more-btn nav-link text-secondary fw-medium"
                data-action='click->read-more#showMore'>
          <small>More ...</small>
        </button>
      </div>
    </div>
    <div class="card-footer text-body-secondary border-0 bg-white pt-1">
      <div class="d-inline-block me-3">
        <%= render 'shared/like', resource: comment %>
      </div>
      <div class="replies-count d-inline-block me-3">
        <i class="bi bi-reply-fill"></i>
        <%= comment.replies_count %>
      </div>
      <div class="d-inline-block">
        <small>
          <%= link_to "Reply",
                      new_post_comment_path(post_id: comment.post,
                                            replied_to_id: comment.replied_to_id || comment,
                                            reply_nickname: nickname(comment.user)),
                      class: 'nav-link text-secondary fw-medium',
                      data: { turbo_frame: "#{dom_id comment}_new_reply_frame" }
          %>
        </small>
      </div>
    </div>
    <turbo-frame id="<%= dom_id comment %>_new_reply_frame"
      data-controller="turbo-frame"
      data-turbo-frame-target='content'
      data-turbo-frame-min-height-value=100
      data-turbo-frame-preserve-height-value=true
    >
    </turbo-frame>
    <% if comment.replies.any? %>
      <div class="px-3 pb-2">
        <turbo-frame id="<%= dom_id comment %>_replies_1_frame"
          data-controller="turbo-frame"
          data-turbo-frame-target='content'
          data-turbo-frame-preserve-height-value=true
          data-turbo-frame-min-height-value=50
        >
          <div>
            <%= link_to comment_replies_path(comment), class: 'text-danger fw-medium nav-link' do %>
              <i class="bi bi-chevron-down me-1"></i>
              <span>Show replies</span>
            <% end %>
          </div>
        </turbo-frame>
      </div>
    <% end %>
  </div>
</turbo-frame>
