<div id="<%= dom_id comment %>" class="card rounded-5 overflow-hidden">
  <div class="card-header d-flex py-3 border-0">
    <div class="col-10 d-flex align-items-center">
      <div class="comment-avatar me-2">
        <%= avatar comment.user, class_name: 'img-xs rounded-circle' %>
      </div>
      <div class="me-1 fw-semibold">
        <%= link_to '@' + comment.user.nickname, comment.user, class: "nav-link" %>
      </div>
      <span class="text-secondary">
        •
      </span>
      <span class="ms-1 text-body-secondary">
        <%= time_ago_in_words comment.created_at %> ago
      </span>
    </div>
    <div class="col-2 text-end">
      <% if comment.user == current_user %>
        <div class="comment-controls">
          <%= link_to edit_post_comment_path(comment.post, comment), class: "nav-link d-inline me-2" do %>
            <i class="bi bi-pen"></i>
          <% end %>
          <%= link_to post_comment_path(comment.post, comment), data: { turbo_method: :delete }, class: "nav-link d-inline" do %>
            <i class="bi bi-trash3"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body comment-body">
    <%= simple_format(comment.body) %>
  </div>
</div>
