<%= form_with(model: [post, comment]) do |form| %>
  <div class="d-flex">
    <% unless turbo_frame_request? %>
      <div class="author-avatar me-2">
        <%= avatar comment.user, class_name: 'img-sm rounded-circle' %>
      </div>
    <% end %>
    <div data-controller="textarea-auto-resize" class="w-100">
      <%= form.textarea :body,
        placeholder: "Share your thoughts...",
        class: "form-control border-0 rounded-4",
        data: { textarea_auto_resize_target: "textarea",
                action: "input->textarea-auto-resize#resize", },
        rows: 2
      %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.hidden_field :post_id %>
  </div>

  <div>
    <%= form.hidden_field :replied_to_id %>
  </div>

  <div class="mt-3 d-flex justify-content-end">
    <% if turbo_frame_request? && (action_name == 'edit' || action_name == 'update') %>
      <%= link_to 'Back', comment_path(comment),
        class: "btn btn-secondary rounded-pill px-3 me-2"
      %>
    <% elsif turbo_frame_request? && (action_name == 'new' || action_name == 'create') %>
      <%= button_tag "Cancel", class: "btn btn-secondary rounded-pill px-3 me-2",
                               data: { action: 'click->turbo-frame#clearFrame' }
      %>
    <% else %>
      <%= button_tag "Cancel", class: "btn btn-secondary rounded-pill px-3 me-2", type: 'reset' %>
    <% end %>
    <%= form.submit(action_name == 'edit' || action_name == 'update' ? 'Edit' : 'Comment',
      class: "btn btn-danger rounded-pill px-3 fw-medium")
    %>
  </div>
<% end %>
