<%= form_with(model: [post, comment], class: 'w-50 mb-4 bg-light p-3 border rounded-2') do |form| %>
  <div data-controller="textarea-auto-resize">
    <%= form.textarea :body, placeholder: "Share your thoughts...", class: "form-control", data: { textarea_auto_resize_target: "textarea", action: "input->textarea-auto-resize#resize" }, rows: 2 %>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <div>
    <%= form.hidden_field :post_id %>
  </div>

  <div class="mt-2">
    <%= form.submit "Comment", class: "btn btn-danger rounded-3 px-4" %>
  </div>
<% end %>
