<% replies.each do |reply| %>
    <div class="comment-wrapper mb-1">
        <%= render reply %>
    </div>
<% end %>
<% if replies.next_page %>
    <%= turbo_frame_tag "comment_#{@comment_id}_replies_next_page_frame",
        data: { controller: "turbo-frame",
                "turbo-frame-target" => "content",
                "turbo-frame-preserve-height-value" => true,
                "turbo-frame-min-height-value" => 50 } do
    %>
        <div id="comment_<%= @comment_id %>_replies_next_page">
            <%= link_to comment_replies_path(comment_id: @comment_id, page: replies.next_page),
                        class: "nav-link text-danger ms-4 fw-medium"  do
            %>
                <small>
                    <i class="bi bi-chevron-down me-1"></i>
                    <span>More replies</span>
                </small>
            <% end %>
        </div>
    <% end %>
<% else %>
    <div id="comment_<%= @comment_id %>_replies_next_page"></div>
<% end %>