<%= form_with(model: user) do |form| %>
  <div class="mb-2 w-50">
    <%= form.label :nickname, class: "form-label" %>
    <%= form.text_field :nickname, class: "form-control" %>
  </div>

  <div class="mb-2 w-50">
    <%= form.label :avatar, 'Upload avatar', class: "form-label" %>
    <%= form.file_field :avatar, class: "form-control" %>
  </div>

  <div class="mb-4">
    <div class="border" style="min-height: 100px; width: 100px">
      <%= avatar class_name: 'img-sm' %>
    </div>
    <div class="mt-2">
      <% if @user.avatar.attached? %>
        <%= link_to 'Delete avatar', remove_avatar_user_path(@user),
          data: { confirm: "Are you sure?", turbo_method: :delete },
          class: 'btn btn-outline-secondary'
        %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit class: "btn btn-danger" %>
  </div>
<% end %>
