<div id="<%= dom_id user %>">
  <div class='row'>
    <div class='col-12 col-lg-4 col-xxl-3 mb-4 mb-lg-0 d-flex align-items-center'>
      <div class="profile-avatar d-inline-block position-relative overflow-hidden rounded-circle">
        <%= avatar class_name: 'img-md rounded-circle img-thumbnail' %>
        <% if user == current_user %>
          <div class="bg-dark change-avatar position-absolute top-0 w-100 h-100 fs-1 d-flex 
                      align-items-center justify-content-center text-white"
               data-bs-toggle="modal" data-bs-target="#imageModal"
          >
            <i class="bi bi-camera"></i>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col-12 col-lg-8 col-xxl-9 ps-3'>
      <div class="mb-3 d-flex justify-content-between">
        <div class="d-inline-block">
          <h4 class="fw-bold mb-1">
            <%= full_name %>
          </h4>
          <div class="text-secondary">
            <%= nickname(user) %>
          </div>
        </div>
        <div>
          <%= render 'shared/follow_button', user: user, small: false %>
          <% if @user == current_user && @user.visible? %>
              <%= link_to edit_user_path(@user), class: "btn btn-outline-danger rounded-pill" do %>
                <i class="bi bi-pencil me-1"></i>
                <span>Edit profile</span>
              <% end %>
          <% end %>
        </div>
      </div>

      <div class="text-secondary">
        <% if user.visible? %>        
          <div class="mb-2">
            <div class="country-flag d-inline me-1">
              <%= flag %>
            </div>
            <%= @country_name %>
          </div>
          <div>
            Joined <%= days_ago_in_words user.signed_up_at %>
          </div>
          <div class="d-block mt-2">
            Rating :
            <span class='user-rating ms-1 fw-bold'>
              <%= user.rating %>
            </span>
          </div>
        <% elsif current_user == user %>
          <div class="bg-light rounded-4 border border-3 px-5 py-3 text-center">
            <h6>Please fill your personal details to use all the Poster's features</h6>
            <div class="my-2 fs-4 text-secondary">
              <i class="bi bi-arrow-down"></i>
            </div>
            <%= link_to 'Create profile', new_profile_users_path, class: 'btn btn-danger' %>
          </div>
        <% else %>
          <div class="bg-light rounded-4 border border-3 p-5 text-center">
            <h6>The user has not been completed information about himself yet</h6>
          </div>
        <% end %>
      </div>

      <div class="mt-3 d-flex text-secondary">
        <div class="pe-4 border-end">
          Followers :
          <span class="text-danger fw-semibold fs-5 ms-2"><%= user.followers_count%></span>
        </div>
        <div class="ps-4 pe-4">
          Followings :
          <span class="text-danger fw-semibold fs-5 ms-2"><%= user.followings_count %></span>
        </div>
      </div>
    </div>
  </div>
</div>
