<div id="<%= dom_id user %>">
  <div class='row'>
    <div class='col-12 col-lg-3 col-xxl-2 mb-4 mb-lg-0'>
      <div class="profile-avatar" style="min-height: 200px; width: 200px">
        <%= avatar class_name: 'img-md rounded-circle' %>
      </div>
    </div>
    <div class='col-12 col-lg-9 col-xxl-10'>
      <h3 class="border-bottom pb-2 ps-3">
        <%= user.nickname %>
      </h3>
      <div class="ms-3">
        <div class="d-block mb-2 fw-medium">
          <%= full_name %>
        </div>
        <div class="d-block mb-2 text-secondary">
          <div class="country-flag d-inline me-1">
            <%= flag %>
          </div>
          <%= @country_name %>
        </div>
        <div class="d-block text-secondary">
          Joined <%= time_ago_in_words user.registration_date %> ago
        </div>
      </div>
    </div>
  </div>
</div>
