<%= render @user %>

<% if @user == current_user %>
  <div class="modal fade" id="imageModal" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-5">
        <div class=''>
          <%= form_with(model: @user) do |form| %>
            <div class="mb-2">
              <%= form.file_field :avatar, class: "form-control" %>
            </div>
            <div class="controls mt-4 text-center">
              <div class="">
                <% if @user.avatar.attached? %>
                  <%= link_to 'Delete current avatar', remove_avatar_user_path(@user),
                    data: { confirm: "Are you sure?", turbo_method: :delete },
                    class: 'btn btn-outline-secondary'
                  %>
                <% end %>
                <%= form.submit 'Upload new avatar', class: "btn btn-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<hr class="mt-5 mb-4"/>

<div id='user-posts'>
  <%  if @posts.any? %>
    <h4 class="ms-3 mb-3">All posts</h4>
    <%= render 'posts/posts', posts: @posts, filter: { user_id: @user.id } %>
  <% else %>
      <% if @user == current_user %>
        <div class="text-secondary mb-3">
          You don't have any posts yet. Write your first!
        </div>
        <%= link_to 'New post', new_post_path, class: 'btn btn-secondary px-4 rounded-pill' %>
      <% else %>
        <div class="text-secondary">
          User does not have any posts
        </div>
      <% end %>
    </div>
  <%- end %>
</div>
