<% if current_user&.visible? %>
    <%= button_tag class: "nav-link",
        data: { controller: 'likes',
                action: 'click->likes#like',
                'likes-is-liked-value': resource.liked?(current_user),
                'likes-resource-id-value': resource.id,
                'likes-collection-name-value': resource.model_name.collection,
                'likes-is-authorized-value': user_signed_in?, } do
    %>
        <div class="post-like text-danger position-relative">
            <%= tag.i(
                class: "bi bi-heart me-1 align-text-top d-inline-block",
                data: { 'likes-target': 'likeButton' }
            )%>
            <span data-likes-target='likeCount'>
                <%= resource.likes_count %>
            </span>
            <turbo-frame class="position-absolute bottom-100 start-0">
            </turbo-frame>
        </div>
    <% end %>
<% elsif user_signed_in? %>
    <%= button_tag class: 'nav-link' do %>
        <%= link_to new_profile_users_path,
            class: "nav-link" do
        %>
            <div class="post-like text-danger">
                <%= tag.i(
                    class: "bi bi-heart me-1 align-text-top d-inline-block",
                    data: { 'likes-target': 'likeButton' }
                )%>
                <span data-likes-target='likeCount'>
                    <%= resource.likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>
<% else %>
    <%= button_tag class: 'nav-link',
        data: { bs_toggle: "modal",
                bs_target: "#loginModal" } do
    %>
        <%= link_to new_user_session_path,
            class: "nav-link",
            data: {
                turbo_frame: "login_modal_frame"
            } do
        %>
            <div class="post-like text-danger">
                <i class="bi bi-heart me-1 align-text-top d-inline-block"></i>
                <span>
                    <%= resource.likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>
<% end %>