<% if current_user&.visible? %>
    <div class="position-relative">
        <%= button_tag class: "nav-link like",
            data: { controller: "likes",
                    action: 'click->likes#like',
                    likes_is_liked_value: resource.liked?(current_user),
                    likes_resource_id_value: resource.id,
                    likes_collection_name_value: resource.model_name.collection,
                    likes_is_authorized_value: user_signed_in?, } do
        %>
            <div class="like-inner text-danger">
                <%= tag.i(
                    class: "bi bi-heart me-1 align-text-top d-inline-block",
                    data: { likes_target: 'likeButton' }
                )%>
                <span data-likes-target='likeCount'>
                    <%= resource.likes_count %>
                </span>
            </div>
        <% end %>
        <div class="likes-preview position-absolute bottom-100 start-0 d-flex p-2 rounded-5">
            <% (@preview_likes || resource.preview_likes).each do |preview_like| %>
                <%= link_to preview_like.user, class: 'd-flex mx-1' do %>
                    <%= avatar preview_like.user, class_name: 'img-xs rounded-circle' %>
                <% end %>
            <% end %>
        </div>
    </div>
<% elsif user_signed_in? %>
    <%= button_tag class: 'nav-link like' do %>
        <%= link_to new_profile_users_path,
            class: "nav-link" do
        %>
            <div class="like-inner text-danger">
                <%= tag.i(
                    class: "bi bi-heart me-1 align-text-top d-inline-block",
                    data: { 'likes-target': 'likeButton' }
                )%>
                <span data-likes-target='likeCount'>
                    <%= resource.likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>
<% else %>
    <%= button_tag class: 'nav-link like',
        data: { bs_toggle: "modal",
                bs_target: "#loginModal" } do
    %>
        <%= link_to new_user_session_path,
            class: "nav-link",
            data: {
                turbo_frame: "login_modal_frame"
            } do
        %>
            <div class="like-inner text-danger">
                <i class="bi bi-heart me-1 align-text-top d-inline-block"></i>
                <span>
                    <%= resource.likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>
<% end %>