<% if current_user&.visible? %>
    <%= button_tag class: 'nav-link d-inline me-4',
        data: { controller: 'likes',
                action: 'click->likes#like',
                'likes-is-liked-value': liked?(comment || post),
                'likes-post-id-value': post.id,
                'likes-comment-id-value': comment&.id,
                'likes-is-authorized-value': user_signed_in?, } do
    %>
        <div class="post-like text-danger">
            <%= tag.i(
                class: "bi bi-heart me-1 align-text-top d-inline-block",
                data: { 'likes-target': 'likeButton' }
            )%>
            <span data-likes-target='likeCount'>
                <%= (comment || post).likes_count %>
            </span>
        </div>
    <% end %>
<% elsif user_signed_in? %>
    <%= button_tag class: 'nav-link d-inline me-4' do %>
        <%= link_to new_profile_users_path,
            class: "nav-link" do
        %>
            <div class="post-like text-danger">
                <%= tag.i(
                    class: "bi bi-heart me-1 align-text-top d-inline-block",
                    data: { 'likes-target': 'likeButton' }
                )%>
                <span data-likes-target='likeCount'>
                    <%= (comment || post).likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>
<% else %>
    <%= button_tag class: 'nav-link d-inline me-4',
        data: { bs_toggle: "modal",
                bs_target: "#loginModal" } do
    %>
        <%= link_to new_user_session_path,
            class: "nav-link",
            data: {
                turbo_frame: "login_modal_frame"
            } do
        %>
            <div class="post-like text-danger">
                <i class="bi bi-heart me-1 align-text-top d-inline-block"></i>
                <span>
                    <%= (comment || post).likes_count %>
                </span>
            </div>
        <% end %>
    <% end %>
<% end %>