<div id="<%= dom_id post %>" class="px-4 py-3 bg-light rounded-4 border-top border-start ps-lg-5">
  <div class="row mb-2">
    <div class="d-flex align-items-center">
      <div class="post-avatar me-2 d-inline-block">
        <%= avatar post.user, class_name: 'img-xs rounded-circle' %>
      </div>
      <%= link_to '@' + post.user.nickname, post.user, class: "link-underline link-underline-opacity-0 me-2" %>
      <div class="d-inline text-secondary">
        <%= time_ago_in_words post.published_at %> ago
      </div>
    </div>
  </div>

  <div class="post-heading mb-1">
    <h3>
      <%= link_to post.title, post, class: "nav-link" %>
    </h3>
  </div>

  <div class="post-content">
    <%= simple_format post.body %>
  </div>

  <div class="post-footer text-secondary mt-3 d-flex align-items-center">
    <%= link_to '#', class: 'nav-link d-inline me-4' do %>
      <i class="bi bi-heart-fill me-1"></i>
      <%= post.likes_count %>
    <% end %>

    <%= link_to post_path(post, anchor: 'comments'), class: 'nav-link d-inline' do %>
      <i class="bi bi-chat-fill me-1"></i>
      <%= post.comments_count %>
    <% end %>
  </div>
</div>
