<div id="<%= dom_id post %>" class="px-4 py-3 bg-light rounded-4 ps-lg-5">
  <div class="row mb-2">
    <div class="d-flex align-items-center">
      <div class="post-avatar me-2 d-inline-block">
        <%= avatar post.user, class_name: 'img-xs rounded-circle' %>
      </div>
      <%= link_to nickname(post.user), post.user, class: "nav-link text-danger fw-medium" %>
      <span class="text-secondary mx-2">
        •
      </span>
      <div class="d-inline text-secondary" title="<%= post.published_at %>" role="button">
        <%= time_ago_in_words post.published_at.to_i %> ago
      </div>
    </div>
  </div>

  <div class="post-heading mb-3">
    <h3>
      <%= link_to post.title, post, class: "nav-link" %>
    </h3>
  </div>

  <div data-controller='read-more' data-read-more-max-height-value=300>
    <div class="post-content" data-read-more-target="textToHide">
      <%= simple_format post.body %>
    </div>
    <div class="position-relative" data-read-more-target="showMoreButton" hidden>
      <div class="post-show-more-fade position-absolute w-100 bottom-100"></div>
      <button class="show-more-btn nav-link text-danger"
              data-action='click->read-more#showMore'>
        Show more ...
      </button>
    </div>
  </div>

  <div class="post-footer text-secondary mt-3 d-flex align-items-center">
    <div class="d-inline-block me-4">
      <%= render 'shared/like', resource: post %>
    </div>
    <%= link_to post_path(post), class: 'nav-link d-inline' do %>
      <i class="bi bi-chat-fill me-1"></i>
      <%= post.comments_count %>
    <% end %>
  </div>
</div>
