<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<% if @user %>
  <h1>
    <%= @user.nickname %>' posts
  </h1>
<% end %>

<%= link_to "Fill the frame", new_user_session_path, data: { turbo_frame: "newpostframe" } %>
<br/>
<turbo-frame id="newpostframe">
  Это начальное содержимое в <strong>isolated_test_frame</strong>.
</turbo-frame>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path if @can_post %>
