<div class="bg-light px-3 py-2 rounded-pill d-inline-block">
  <div class="d-flex align-items-center">
    <div class="post-avatar me-2 d-inline-block">
      <%= avatar @post.user, class_name: 'img-xs rounded-circle' %>
    </div>
    <%= link_to '@' + @post.user.nickname, @post.user, class: "nav-link text-danger me-2" %>
     • 
    <div class="d-inline text-secondary ms-2">
      <%= time_ago_in_words @post.published_at%> ago
    </div>
  </div>
</div>

<h1 class="mb-3 mt-1">
  <%= @post.title %>
</h1>

<div id="post-content" class="mb-3 post-content">
  <%= simple_format @post.body %>
</div>

<div id="post-panel" class="fs-5 rounded-pill text-secondary d-inline-block px-3 py-1 bg-light">
  <%= render 'shared/like', post: @post %>
  <%= link_to post_path(@post, anchor: 'comments'), class: 'nav-link d-inline-block' do %>
    <i class="bi bi-chat-fill me-1"></i>
    <%= @post.comments_count %>
  <% end %>
</div>
 
<%- if current_user == @post.user %>
  <div id="post-controls">
    <div class="mb-2 d-inline">
      <%= link_to "Edit post", edit_post_path(@post), class: 'btn btn-outline-secondary' %>
    </div>
    <%= button_to "Delete post", @post, method: :delete, class: 'btn btn-outline-danger', form_class: 'd-inline' %>
  </div>
<%- end %>

<hr class="mt-4"/>

<div id="comments" class="mt-4">
  <%- if user_signed_in? %>
    <%= render "comments/form", post: @post, comment: @new_comment %>
  <%- end %>

  <div id='comments-list'>
    <%- if @comments.any? %>
      <% @comments.each do |comment| %>
        <div class="comment-wrapper ps-0 mb-3">
          <%= render comment %>
        </div>
      <% end %>
    <%- else %>
      <div class="text-secondary">
        No comments on the post yet. Be the first
      </div>
    <%- end %>
  </div>
</div>