<% if notice -%>
  <p class="alert alert-success"><%= notice %></p>
<% end -%>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<br/>

<div>
  <%= render "comments/form", comment: @new_comment %>
  <%= render @comments %>
</div>