<div class="bg-light px-3 py-2 rounded-pill d-inline-block">
  <div class="d-flex align-items-center">
    <div class="post-avatar me-2 d-inline-block">
      <%= avatar @post.user, class_name: 'img-xs rounded-circle' %>
    </div>
    <%= link_to nickname(@post.user), @post.user, class: "nav-link text-danger fw-medium" %>
    <span class="text-secondary mx-2">
      • 
    </span>
    <div class="d-inline text-secondary">
      <%= time_ago_in_words @post.published_at%> ago
    </div>
  </div>
</div>

<h1 class="ps-3 mb-4 mt-3 border-start border-danger border-opacity-50 border-3">
  <%= @post.title %>
</h1>

<div class="mb-3 post-content px-3">
  <%= simple_format @post.body %>
</div>

<div class="fs-5 rounded-pill text-secondary d-inline-block px-3 py-1 bg-light">
  <%= render 'shared/like', post: @post, comment: nil %>
  <%= link_to post_path(@post, anchor: 'comments'), class: 'nav-link d-inline-block' do %>
    <i class="bi bi-chat-fill me-1"></i>
    <%= @post.comments_count %>
  <% end %>
</div>
 
<%- if current_user == @post.user %>
  <div class="my-3">
    <div class="d-inline">
      <%= link_to "Edit post", edit_post_path(@post), class: 'btn btn-outline-secondary' %>
    </div>
    <%= button_to "Delete post", @post, method: :delete, class: 'btn btn-outline-danger', form_class: 'd-inline' %>
  </div>
<%- end %>

<div id="comments" class="mt-4 col-md-10 col-lg-9 col-xl-8">
  <div class='mb-4 bg-light p-3 border rounded-5'>
    <% if user_signed_in? %>
      <%= render "comments/form", post: @post, comment: @new_comment %>
    <% else %>
      <div class="text-center text-secondary my-2">
        <span>
          You need to
          <span class="d-inline" data-bs-toggle="modal" data-bs-target="#loginModal">
            <%= link_to "log in", new_user_session_path,
                  class: 'link-underline link-underline-opacity-0',
                  data: { turbo_frame: "login_modal_frame" }
            %>
          </span>
          to leave a comment
        </span>
      </div>
    <% end %>
  </div>

  <div id='comments-list' class="">
    <%- if @comments.any? %>
      <% @comments.each do |comment| %>
        <div class="comment-wrapper ps-0 mb-3">
          <%= render comment %>
        </div>
      <% end %>
    <%- else %>
      <div class="text-secondary">
        No comments on the post yet. Be the first
      </div>
    <%- end %>
  </div>
</div>