<header class="bg-light pb-1 border-bottom mb-4">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center justify-content-md-between py-3">
            <div class="col">
                <a class="navbar-brand pe-3" href="/">
                    <img src="/poster-logo-min.png" height="50" />
                </a>
            </div>
            <div class="col d-flex align-items-center">
                <ul class='nav d-flex align-items-center'>
                    <li class='nav-item'>
                        <%= link_to "Feed", root_path, class: "nav-link link-body-emphasis" %>
                    </li>
                    <li class='nav-item'>
                        <%= link_to "Users", '#', class: "nav-link link-body-emphasis" %>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link link-body-emphasis" href='#'>
                            Test3
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link link-body-emphasis" href='#'>
                            Test4
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <% if user_signed_in? %>
                    <%= link_to current_user.nickname, current_user, class: "nav-link" %>
                    <%= link_to "Sign Out", destroy_user_session_path,
                        class: "btn btn-danger ms-1",
                        data: { turbo_method: :delete }
                    %>
                <% else %>
                    <% if controller_name != 'sessions' %>
                        <%= button_tag class: 'btn btn-outline-danger', data: { bs_toggle: "modal", bs_target: "#loginModal" } do %>
                            <%= link_to "Login", new_user_session_path,
                                class: "nav-link",
                                data: {
                                    turbo_frame: "login_modal_frame"
                                }
                            %>
                        <% end %>
                    <% end %>
                    <% if controller_name != 'registrations' %>
                        <%= button_tag class: 'btn btn-danger ms-2', data: { bs_toggle: "modal", bs_target: "#signupModal" } do %>
                            <%= link_to "Sign Up", new_user_registration_path,
                                class: "nav-link",
                                data: {
                                    turbo_frame: "signup_modal_frame"
                                }
                            %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</header>