<header class="h-100 sticky-top">
    <div class="container-md py-3 navbar navbar-expand-lg">
        <div class="col container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/poster2-logo-min.png" height="40" />
            </a>
            <button class="navbar-toggler text-danger border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarMobile" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"
            >
                <i class="bi bi-list fs-1"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse d-lg-none" id="navbarMobile">
            <div class="d-lg-none d-flex align-items-center justify-content-end mx-4 mt-3">
                <% if user_signed_in? %>
                    <div class="me-3">
                        <%= link_to nickname(current_user), current_user,
                            class: "nav-link fw-semibold" %>
                    </div>
                    <div>
                        <%= link_to destroy_user_session_path,
                            class: "nav-link text-danger fs-4 header-logout d-inline-block",
                            data: { turbo_method: :delete } do
                        %>
                            <i class="bi bi-box-arrow-left"></i>
                        <% end %>
                    </div>
                <% else %>
                    <% if controller_name != 'sessions' %>
                        <%= button_tag class: 'btn btn-outline-danger', data: { bs_toggle: "modal", bs_target: "#loginModal" } do %>
                            <%= link_to "Login", new_user_session_path,
                                class: "nav-link",
                                data: {
                                    turbo_frame: "login_modal_frame"
                                }
                            %>
                        <% end %>
                    <% end %>
                    <% if controller_name != 'registrations' %>
                        <%= button_tag class: 'btn btn-danger ms-2', data: { bs_toggle: "modal", bs_target: "#signupModal" } do %>
                            <%= link_to "Sign Up", new_user_registration_path,
                                class: "nav-link",
                                data: {
                                    turbo_frame: "signup_modal_frame"
                                }
                            %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</header>