<%- unless controller_name == 'registrations' || controller_name == 'sessions' %>
    <aside class="p-4 bg-light w-100 rounded-4 border-start border-top" id="sidebar">
        <% if user_signed_in? %>
            <div class="d-flex">
                <div class="sidebar-avatar me-3 ratio ratio-1x1">
                    <%= avatar current_user, class_name: 'img-sm rounded-circle img-thumbnail' %>
                </div>
                <div class="sidebar-user-info text-truncate me-2">
                    <div class="fw-semibold mb-2"> 
                        <%= link_to nickname(current_user), current_user, class: 'nav-link' %>
                    </div>
                    <div class="text-danger mb-2">
                        <i class="bi bi-star-fill"></i>
                        <span><%= current_user.rating %></span>
                    </div>
                </div>
                <div class="flex-fill text-end">
                    <div>
                        <%= link_to destroy_user_session_path,
                            class: "nav-link text-secondary fs-5 sidebar-logout d-inline-block",
                            data: { turbo_method: :delete } do
                        %>
                            <i class="bi bi-box-arrow-left"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else %>
            <h4 class="mb-4">Sign In</h4>
            <%= render "devise/sessions/form" %>
            <%= render "devise/shared/links" %>
        <% end %>
    </aside>
<% end %>